.container {
	width: 60%;
	margin: 0 auto;
}

.menu {
	height: 50px;
	background: grey;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.menuItems {
	list-style-type: none
}

.menuItems li {
	float: left;
	margin: 0 0 0 10px;
}

.menuItems li:first-child {
	margin: 0;
}